<div class="chatroom container">

  <div class="chatroom-main">

    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <div class="chat-bottom">

      <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <% end %>

      <% if current_user.shotlists.present? %>
        <div class="dropdown show">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Share project
          </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% @current_user.shotlists.each do |shotlist| %>
            <%= link_to shotlist.title, shotlist_path(shotlist), class: "shotlist-link" %>
          <% end %>
        </div>
      </div>
      <% else %>

          <%= link_to("create project", new_shotlist_path(@shotlist) , class: "btn btn-warning") %>

      <% end %>
    </div>

  </div>

 <div class="chatroom-sidebar">
  <% other_chatter = current_user.other_chatter?(@chatroom) %>
    <% if other_chatter.photo.present? %>
      <%= cl_image_tag other_chatter.photo.key, height: 120, width: 120, crop: :fill, class: "avatar-huge sidebar-avatar" %>
    <% end %>
    <h3><%= other_chatter.first_name %> <%= other_chatter.last_name %></h3>
    <p><%= other_chatter.city %></p>
    <% other_chatter.interest_list.each do |interest| %>
      <small><%= interest %></small>
    <% end %>
 </div>

</div>



