<div class="header-portfolio">
  <div class="inner-content" style="display: flex;">
    <% if @filmmaker.portfolio_assets %>
        <% @filmmaker.portfolio_assets.each do |asset| %>
          <% asset.photos.each do |photo| %>
           <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill, class: 'portfolio-img' %>
          <% end %>
        <% end %>
    <% end %>
    <div class="name" style="color: white;margin-left: 50px; margin-top: -6px;">
      <h2><%= @filmmaker.first_name %> <%= @filmmaker.last_name %></h2>
      <p style="margin-bottom: 8px; font-size: 1.3em;">Filmmaker</p>
      <div style="display: flex;">
        <p class="fas fa-map-marker-alt"></p>
        <p style="margin-left: 10px;"><%= @filmmaker.city %></p>
        <p style="margin-left: 10px;">|  <%= @filmmaker.language %></p>
      </div>
      <div class="contact">
        <%= simple_form_for @chatroom do |form| %>
          <%= form.input_field :receiver_id, as: :hidden, value: @filmmaker.id %>

          <%= form.submit "Contact", class: 'btn-contact' %>
        <% end %>
        <a href="" class="btn-share"><i class="fas fa-share fa-lg mr-2"></i>Share a project</a>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 26px; margin-top: 120px;">
  <% if current_user.interest_list.present?  %>
    <% current_user.interest_list.each do |tag| %>
      <%= link_to tag, results_path(tag: tag), class: "btn-tag-result" %></li>
    <% end %>
  <% end %>
</div>
<div class="mosaic">
  <h3 style="text-align: left; margin-bottom: 20px;">Collaborations</h3>
  <div class="row">
    <% if @filmmaker.portfolio_assets %>
        <% @filmmaker.portfolio_assets.each do |asset| %>
        <% if asset.video_url.present? %>
          <div class="col-4" style="margin-bottom: 10px;">
            <div class="group">
              <iframe src="https://player.vimeo.com/video/<%= asset.video_url %>?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="450" height="250" preload="auto" frameborder="0" allowfullscreen></iframe>
              <div class="poster" style="display:flex; background-image: url('<%= cl_image_path asset.poster_picture.key, height: 250, width: 450, crop: :fill %>');">
                <i class="far fa-play-circle fa-3x" style="color:white; margin: auto; "></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="col-11 ml-4" style="margin-bottom:100px;">
  <h3 style="margin-bottom: 20px;">Biography</h3>
  <div  class="container-portfolio">
    <p><%= @filmmaker.biography %></p>
  </div>
</div>












