<div class="header-portfolio">
  <div class="inner-content" style="display: flex;">
    <% if @filmmaker.portfolio_assets %>
        <% @filmmaker.portfolio_assets.each do |asset| %>
          <% asset.photos.each do |photo| %>
           <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill, class: 'portfolio-img' %>
          <% end %>
        <% end %>
    <% end %>
    <div class="name" style="color: white;margin-left: 50px; margin-top: -6px;">
      <h2><%= @filmmaker.first_name %> <%= @filmmaker.last_name %></h2>
      <p style="margin-bottom: 8px; font-size: 1.3em;">Filmmaker</p>
      <div style="display: flex;">
        <p class="fas fa-map-marker-alt"></p>
        <p style="margin-left: 10px;"><%= @filmmaker.city %></p>
      </div>
      <div class="contact">
        <%= simple_form_for @chatroom do |form| %>
          <%= form.input_field :receiver_id, as: :hidden, value: @filmmaker.id %>

          <%= form.submit "Contact", class: 'btn-contact' %>
        <% end %>
        <a href="" class="btn-share"><i class="fas fa-share fa-lg mr-2"></i>Share a project</a>
      </div>
    </div>
  </div>
</div>


<h2 style="text-align: left; margin-left: 15px; margin-top: 120px">My collaborations</h2>
<div class="mosaic">
  <div class="row">
    <% if @filmmaker.portfolio_assets %>
        <% @filmmaker.portfolio_assets.each do |asset| %>
        <% if asset.video_url.present? %>
          <% JSON.parse(asset.video_url).each do |id| %>
            <div class="col-4" style="margin-bottom: 10px;">
              <div class="group">
                <iframe src="https://player.vimeo.com/video/<%= id %>?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0" width="450" height="250" preload="auto" frameborder="0" allowfullscreen></iframe>
                <div class="poster" style="background-image: url(https://i.vimeocdn.com/video/116825470_450x250.webp);"></div>
             </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


  <div class="col-3 ml-4">
    <h2 class="mb-4">Biography</h2>
    <div  class="container-portfolio">
      <p><%= @filmmaker.biography %></p>
    </div>
  </div>
  <div class="col-4" style="margin-left: 50px;">
    <h2 class="mb-4 mt-5">Interest</h2>
    <div class="container-interest">
      <ul><% if current_user.interest_list.present?  %>
        <% current_user.interest_list.each do |tag| %>
          <li style="margin: 20px; text-align: center;"><%= link_to tag, results_path(tag: tag), class: "btn-tag-result" %></li>
        <% end %>
      <% end %></ul>
    </div>
  </div>
  <div class="col-3" style="margin-left: 50px;">
    <h2 class="mb-4 mt-5">Languages</h2>
    <div class="container-interest">
      <ul>
        <li><%= @filmmaker.language %></li>
      </ul>
    </div>
  </div>
</div>












