<!-- MultiStep Form -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>Social Profiles</li>
                <li>Account Setup</li>
            </ul>

            <%= simple_form_for(shotlist) do |f| %>
            <%= f.error_notification %>
            <!-- fieldsets -->
            <fieldset class="block-1">
                <h2 class="fs-title">Personal Details</h2>
                <h3 class="fs-subtitle">Tell us something more about you</h3>
                <%= f.input :name %>
                <%= f.input :address %>
                <%= f.input :rating %>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset class="block-2">
                <h2 class="fs-title">Social Profiles</h2>
                <h3 class="fs-subtitle">Your presence on the social network</h3>
                <%= f.input :name %>
                <%= f.input :address %>
                <%= f.input :rating %>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset class="block-3">
                <h2 class="fs-title">Create your account</h2>
                <h3 class="fs-subtitle">Fill in your credentials</h3>
                <%= f.input :name %>
                <%= f.input :address %>
                <%= f.input :rating %>
                <%= f.button :submit , class: "submit action-button"%>
            </fieldset>
            <% end %>

        <!-- link to designify.me code snippets -->
        <!-- /.link to designify.me code snippets -->
    </div>
</div>
<!-- /.MultiStep Form -->
