<div class="row align-items-center" id="cent-form">
  <div class="col bg-dark text-white text-center">
<h1>camea</h1>
    <div class="blocktoPic">
      <img height="660" src="https://project-submission.client.cremedelacreme.io/static/media/celine.1db21b0f.png" alt="creme">
    </div>
    <div class="blocktoPic d-none">
      <p>Thomas is a fluent filmmaker in Bengladesh. He create's cool webapp as well</p>
      <img  height="600" width="400" src=https://avatars1.githubusercontent.com/u/57214511?v=4 alt="Thomas">
    </div>
    <div class="blocktoPic d-none animated bounceInUp">
      <p class="animated bounceIndown">Awesome Manu is the best filmaker for trans/trav shots around the world</p>
      <img height="600" width="400" src="https://avatars2.githubusercontent.com/u/56646293?v=4" alt="Manu">
    </div>
    <div class="blocktoPic d-none">
      <p>Estelle is the first camea's specialist in Timelapse. She loves creates disruptive innovation</p>
      <img height="600" width="400" src="https://avatars3.githubusercontent.com/u/55833764?v=4" alt="Estelle">
    </div>
  </div>
<div class="col-md-8 col-md-offset-3 mt-5">

<div class="row multiformcustom align-items-center mb-5">
    <div class="col-md-10 col-md-offset-3 position-absolute">
            <!-- progressbar -->
            <ul id="progressbar" class="position-relative d-flex p-2">
                <li class="active">begin</li>
                <li>it's finish soon</li>
                <li>Shot final Setup</li>
                <li>Shot final Setup</li>
            </ul>

            <%= simple_form_for [@shotlist, @shot] do |f| %>
            <%= f.error_notification %>

             <fieldset class="blocktoIt position-relative">
              <h2 class="fs-title animated bounceInDown">This is important step</h2>
                <h3 class="fs-subtitle">take your time</h3>
              <%= f.input :description, class: "inp" %>
                <%= f.input :equipment, class: "inp" %>
                </fieldset>

            <fieldset class="blocktoIt position-relative d-none">
                <h2 class="fs-title animated bounceInDown">Do you have better to do?</h2>
                <h3 class="fs-subtitle">I don't think so</h3>



                <fieldset class="form-group check_boxes optional shot_shot_size">
                  <legend class="col-form-label pt-0">Shot size</legend>
                  <input type="hidden" name="shot[shot_size][]" value="">
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">

                      <input class="form-check-input check_boxes optional" type="checkbox" value="Close-up" name="shot[shot_size][]" id="shot_shot_size_close-up" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_close-up">Close-up</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Long shot" name="shot[shot_size][]" id="shot_shot_size_long_shot" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_long_shot">Long shot</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Medium shot" name="shot[shot_size][]" id="shot_shot_size_medium_shot" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_medium_shot">Medium shot</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="point-of-view shot" name="shot[shot_size][]" id="shot_shot_size_point-of-view_shot" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_point-of-view_shot">point-of-view shot</label>

                  </div>
                </div>

                </fieldset>
                </fieldset>

                <fieldset class="blocktoIt position-relative d-none">
                <h2 class="fs-title animated bounceInDown">It's a litlle bit Long,no</h2>
                <h3 class="fs-subtitle">take your time</h3>

                <fieldset class="form-group check_boxes optional shot_movement">
                  <legend class="col-form-label pt-0">Movement</legend>
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">
                    <input type="hidden" name="shot[movement][]" value="">

                      <input class="form-check-input check_boxes optional" type="checkbox" value="Pan/tilt" name="shot[movement][]" id="shot_movement_pantilt" hidden>
                      <label class="category-choice col-md- 3form-check-label collection_check_boxes" for="shot_movement_pantilt">Pan/tilt</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Crane shot" name="shot[movement][]" id="shot_movement_crane_shot" hidden>
                      <label class="category-choice col-md-3 form-check-label collection_check_boxes" for="shot_movement_crane_shot">Crane shot</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Zoom" name="shot[movement][]" id="shot_movement_zoom" hidden>
                      <label class="category-choice col-md-3 form-check-label collection_check_boxes" for="shot_movement_zoom">Zoom</label>
                    </div>
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Random motion" name="shot[movement][]" id="shot_movement_random_motion" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_movement_random_motion">Random motion</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="360-degree motion" name="shot[movement][]" id="shot_movement_360-degree_motion" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_movement_360-degree_motion">360-degree motion</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Compound motion" name="shot[movement][]" id="shot_movement_compound_motion" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_movement_compound_motion">Compound motion</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Dolly zoom" name="shot[movement][]" id="shot_movement_dolly_zoom" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_movement_dolly_zoom">Dolly zoom</label>

                  </div>

                </fieldset>
                </fieldset>

            <fieldset class="blocktoIt position-relative d-none">
                <h2 class="fs-title animated bounceInDown">Last step</h2>
                <h3 class="fs-subtitle">Enter in CAMEAAAAAMEA</h3>
                <fieldset class="form-group check_boxes optional shot_angle">
                  <legend class="col-form-label pt-0">Angle</legend>
                  <input type="hidden" name="shot[angle][]" value="">
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Eye level" name="shot[angle][]" id="shot_angle_eye_level" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_eye_level">Eye level</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Low angle" name="shot[angle][]" id="shot_angle_low_angle" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_low_angle">Low angle</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="High angle" name="shot[angle][]" id="shot_angle_high_angle" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_high_angle">High angle</label>



                      <input class="form-check-input check_boxes optional" type="checkbox" value="Dutch angle" name="shot[angle][]" id="shot_angle_dutch_angle" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_dutch_angle">Dutch angle</label>


                      <input class="form-check-input check_boxes optional" type="checkbox" value="Over-the-Shoulder" name="shot[angle][]" id="shot_angle_over-the-shoulder" hidden>
                      <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_over-the-shoulder">Over-the-Shoulder</label>

                  </div>
                    </div>
                </fieldset>
            </fieldset>



            <hr>
            <button type="button" id="prev" class="d-none position-relative btn btn-outline-dark btn-lg" >Previous</button>
            <button type="button" id="next" class="btn btn-dark btn-lg position-relative">Next</button>
            <%= f.button :submit , id: "sub", class: "submit btn btn-warning btn-lg d-none position-relative"%>
            <% end %>
            </div>


    </div>
</div>
</div>
</div>
