<!-- MultiStep Form -->
  <div class="row d-flex m-0 align-items-center">
    <div class="col leftform align-items-center bg-light">

      <div  class="blocktoPic">
        <h2 class="fs-title">Create your shotlist</h2>
        <div class="blocktoPic-info">
          <p class="text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
          <p class="text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>
        </div>
      </div>

      <div class="blocktoPic d-none">
        <h2 class="fs-title">Create your shotlist</h2>
        <div class="blocktoPic-info">
          <p class="text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
          <p class="text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>
        </div>

      </div>

      <div class="blocktoPic d-none">
        <h2 class="fs-title">Create your shotlist</h2>
        <div class="blocktoPic-info">
          <p class="text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
          <p class="text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>
        </div>

      </div>

    </div>

    <div class="col-md-8 col-md-offset-3 align-items-center">

      <div class="multiformcustom align-items-center">

        <!-- progressbar -->
        <div class="multiform-progress">
          <ul id="progressbar">
            <li class="active">Title</li>
            <li>Description</li>
            <li>Tags</li>
          </ul>
          <hr style="background-color: lightgrey">
        </div>


        <%= simple_form_for(@shotlist) do |f| %>
          <div class="multiform-content">
            <%= f.error_notification %>
            <!-- fieldsets -->
            <fieldset class="blocktoIt">
              <h1 class="fs-subtitle">Give your film a title</h1>
              <%= f.input :title,label: false, placeholder: "Wayne's World seems a cool title, isn't it?", class: "inp" %>
            </fieldset>

            <fieldset class="blocktoIt d-none">
              <h1 class="fs-subtitle">What is your film about?</h1>
              <%= f.input :description, label: false, placeholder: "It's party time excellent", class: "inp" %>
            </fieldset>

            <fieldset class="blocktoIt d-none">
              <h1 class="fs-subtitle">Select tags that correspond to your project:</h1>

              <fieldset class="form-group check_boxes optional shotlist_shotlist_tag_list">
                <div class="category-choices">
                  <input type="hidden" name="shotlist[shotlist_tag_list][]" value="">
                  <div class="category-choices-grid">
                    <% @tags.each do |tag| %>
                      <div class="form-check">
                        <input class="form-check-input check_boxes optional" type="checkbox" value="<%= tag %>" name="shotlist[shotlist_tag_list][]" id="shotlist_shotlist_tag_list_<%= tag %>" hidden >
                        <label class="category-choice form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_<%= tag %>"><%= tag %></label>
                      </div>

                    <% end %>
                  </div>
                </div>
              </fieldset>
            </fieldset>
          </div>

          <div class="multiform-bottom">
            <hr style="background-color: lightgrey">

            <button type="button" id="prev" class="d-none btn btn-navbar2-transparent btn-lg" >Previous</button>
            <button type="button" id="next" class="btn btn-navbar2">Next</button>
            <%= f.button :submit ,"next", id: "sub", class: "submit btn btn-navbar2 d-none"%>
          </div>

        <% end %>

        <!-- link to designify.me code snippets -->
        <!-- /.link to designify.me code snippets -->
      </div>
    </div>
  </div>

<!-- /.MultiStep Form -->


