<div class="row multiformcustom">
    <div class="col-md-10 col-md-offset-3">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">begin</li>
                <li>it's finish soon</li>
                <li>Shot final Setup</li>
            </ul>

            <%= simple_form_for [@shotlist, @shot] do |f| %>
            <%= f.error_notification %>

            <fieldset class="blocktoIt">
                <h2 class="fs-title">This is important step</h2>
                <h3 class="fs-subtitle">take your time</h3>
                <div class="category-choices">
                <%= f.input :angle, as: :check_boxes, collection: Shot::ANGLE, placeholder: "american, ..." , class: "inp category-choice" %>

                </div>
                <div class="category-choices">
                <%= f.input :shot_size, as: :check_boxes, collection: Shot::SHOT_SIZE, class: "inp category-choice" %>
              </div>
                <div class="category-choices">
                <%= f.input :movement, as: :check_boxes, collection: Shot::MOVEMENT, class: "inp category-choice" %>
              </div>
                <%= f.input :points, class: "inp" %>
            </fieldset>


            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title">Description</h2>
                <h3 class="fs-subtitle">Give us more about your shot</h3>
                <%= f.input :description, class: "inp" %>
                <%= f.input :equipment, class: "inp" %>
                <%= f.input :actors, class: "inp" %>
                <%= f.input :props, class: "inp" %>
            </fieldset>


            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title">Create your shotlist</h2>
                <h3 class="fs-subtitle">feel great to finish</h3>
                <%= f.input :notes, class: "inp" %>
                <%= f.input :video_url, class: "inp" %>
            </fieldset>

            <button type="button" id="prev" class="d-none btn btn-primary" >Previous</button>
            <button type="button" id="next" class="btn btn-warning">Next</button>
            <%= f.button :submit , id: "sub", class: "submit btn btn-warning d-none"%>
            <% end %>


    </div>
</div>
