<!-- MultiStep Form -->
<div class="container" style="margin-top: 100px">
  <div class="row align-items-center m-0">
    <div class="col text-center leftform bg-light">

      <div  class="blocktoPic">
        <h3 class="fs-title">Create your shotlist</h3>
        <p class="text-center text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
        <p class="text-center text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>
      </div>

      <div class="blocktoPic d-none">
        <h2 class="fs-title">Create your shotlist</h2>
        <p class="text-center text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
        <p class="text-center text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>

      </div>

      <div class="blocktoPic d-none">
        <h2 class="fs-title">Create your shotlist</h2>
        <p class="text-center  text-muted">A shot list is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
        <p class="text-center text-muted">It determines what equipment the camera crew needs, what lighting setups need to be created, call times for the actors, and what locations, set pieces, and props need to be ready.</p>

      </div>

    </div>

    <div class="col-md-8 col-md-offset-3 align-items-center">

      <div class="multiformcustom align-items-center">

        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active">Title</li>
          <li>Description</li>
          <li>Tags</li>
        </ul>

        <%= simple_form_for(@shotlist) do |f| %>
        <%= f.error_notification %>
        <!-- fieldsets -->
        <hr>

        <fieldset class="blocktoIt">
          <h2 class="fs-subtitle">Give your film a title</h2>
          <%= f.input :title,label: false, placeholder: "Wayne's World seems a cool title, isn't it?", class: "inp" %>
        </fieldset>

        <fieldset class="blocktoIt d-none">
          <h2 class="fs-subtitle">What is your film about?</h2>
          <%= f.input :description, label: false, placeholder: "It's party time excellent", class: "inp" %>
        </fieldset>

        <fieldset class="blocktoIt d-none">
          <h2 class="fs-subtitle">Select tags that correspond to your project:</h2>

          <fieldset class="form-group check_boxes optional shotlist_tag_list">
            <legend class="col-form-label pt-0" style="display: none">Tags</legend>

              <div class="category-choices">
                <div class="row d-flex justify-content-between">

                  <input class="form-check-input check_boxes optional" type="checkbox" value="Pan/tilt" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_landscapes" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_landscapes">Landscapes</label>


                  <input class="form-check-input check_boxes optional" type="checkbox" value="Crane shot" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_seascapes" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_seascapes">Seascapes</label>


                  <input class="form-check-input check_boxes optional" type="checkbox" value="Zoom" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_architecture" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_architecture">Architecture</label>

                  <input class="form-check-input check_boxes optional" type="checkbox" value="Random motion" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_timelapse" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_timelapse">Timelapse</label>


                  <input class="form-check-input check_boxes optional" type="checkbox" value="360-degree motion" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_macro" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_macro">Macro</label>


                  <input class="form-check-input check_boxes optional" type="checkbox" value="Compound motion" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_stopmotion" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_stopmotion">StopMotion</label>


                  <input class="form-check-input check_boxes optional" type="checkbox" value="Dolly zoom" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_drone" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_drone">Drone</label>

                  <input class="form-check-input check_boxes optional" type="checkbox" value="Dolly zoom" name="shotlist[shotlist_tag_list]" id="shotlist_shotlist_tag_list_trans-trav" hidden>
                  <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shotlist_shotlist_tag_list_trans-trav">Trans-trav</label>
                </div>
              </div>

            </fieldset>
          </fieldset>

          <hr>
          <button type="button" id="prev" class="d-none btn btn-outline-dark btn-lg" >Previous</button>
          <button type="button" id="next" class="btn btn-search">Next</button>
          <%= f.button :submit ,"next", id: "sub", class: "submit btn btn-search d-none"%>
          <% end %>

        <!-- link to designify.me code snippets -->
        <!-- /.link to designify.me code snippets -->
      </div>
    </div>
  </div>
</div>
<!-- /.MultiStep Form -->


