<div class="row multiformcustom">
    <div class="col-md-10 col-md-offset-3">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">begin</li>
                <li>it's finish soon</li>
                <li>Shot final Setup</li>
            </ul>

            <%= simple_form_for [@shotlist, @shot] do |f| %>
            <%= f.error_notification %>

            <fieldset class="blocktoIt">
                <h2 class="fs-title">This is important step</h2>
                <h3 class="fs-subtitle">take your time</h3>

                <fieldset class="form-group check_boxes optional shot_angle">
                  <legend class="col-form-label pt-0">Angle</legend>
                  <input type="hidden" name="shot[angle][]" value="">
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">

                    <div class="form-check category-choice col-md-2 text-center">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Eye level" name="shot[angle][]" id="shot_angle_eye_level" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_angle_eye_level">Eye level</label>
                    </div>
                    <div class="form-check category-choice col-md-2 text-center">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Low angle" name="shot[angle][]" id="shot_angle_low_angle" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_angle_low_angle">Low angle</label>
                    </div>
                    <div class="form-check category-choice col-md-2 text-center">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="High angle" name="shot[angle][]" id="shot_angle_high_angle" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_angle_high_angle">High angle</label>
                    </div>

                    <div class="form-check category-choice col-md-2 text-center">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Dutch angle" name="shot[angle][]" id="shot_angle_dutch_angle" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_angle_dutch_angle">Dutch angle</label>
                    </div>
                    <div class="form-check category-choice col-md-2 text-center">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Over-the-Shoulder" name="shot[angle][]" id="shot_angle_over-the-shoulder" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_angle_over-the-shoulder">Over-the-Shoulder</label>
                    </div>
                  </div>
                    </div>
                </fieldset>

                <fieldset class="form-group check_boxes optional shot_shot_size">
                  <legend class="col-form-label pt-0">Shot size</legend>
                  <input type="hidden" name="shot[shot_size][]" value="">
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">
                    <div class="form-check category-choice col-md-2">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Close-up" name="shot[shot_size][]" id="shot_shot_size_close-up" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_shot_size_close-up">Close-up</label>
                    </div>
                    <div class="form-check category-choice col-md-2">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Long shot" name="shot[shot_size][]" id="shot_shot_size_long_shot" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_shot_size_long_shot">Long shot</label>
                    </div>
                    <div class="form-check category-choice col-md-2">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Medium shot" name="shot[shot_size][]" id="shot_shot_size_medium_shot" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_shot_size_medium_shot">Medium shot</label>
                    </div>
                    <div class="form-check category-choice col-md-2">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="point-of-view shot" name="shot[shot_size][]" id="shot_shot_size_point-of-view_shot" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_shot_size_point-of-view_shot">point-of-view shot</label>
                    </div>
                  </div>
                </div>
                </fieldset>

                <fieldset class="form-group check_boxes optional shot_movement">
                  <legend class="col-form-label pt-0">Movement</legend>
                  <div class="category-choices">
                    <div class="row d-flex justify-content-between">
                    <input type="hidden" name="shot[movement][]" value="">
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Pan/tilt" name="shot[movement][]" id="shot_movement_pantilt" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_pantilt">Pan/tilt</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Crane shot" name="shot[movement][]" id="shot_movement_crane_shot" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_crane_shot">Crane shot</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Zoom" name="shot[movement][]" id="shot_movement_zoom" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_zoom">Zoom</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Random motion" name="shot[movement][]" id="shot_movement_random_motion" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_random_motion">Random motion</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="360-degree motion" name="shot[movement][]" id="shot_movement_360-degree_motion" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_360-degree_motion">360-degree motion</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Compound motion" name="shot[movement][]" id="shot_movement_compound_motion" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_compound_motion">Compound motion</label>
                    </div>
                    <div class="form-check category-choice col-md-1">
                      <input class="form-check-input check_boxes optional" type="checkbox" value="Dolly zoom" name="shot[movement][]" id="shot_movement_dolly_zoom" hidden>
                      <label class="form-check-label collection_check_boxes" for="shot_movement_dolly_zoom">Dolly zoom</label>
                    </div>
                  </div>
                </div>
                </fieldset>

                <%= f.input :points, class: "inp" %>
            </fieldset>


            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title">Description</h2>
                <h3 class="fs-subtitle">Give us more about your shot</h3>
                <%= f.input :description, class: "inp" %>
                <%= f.input :equipment, class: "inp" %>
                <%= f.input :actors, class: "inp" %>
                <%= f.input :props, class: "inp" %>
            </fieldset>


            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title">Create your shotlist</h2>
                <h3 class="fs-subtitle">feel great to finish</h3>
                <%= f.input :notes, class: "inp" %>
                <%= f.input :video_url, class: "inp" %>
            </fieldset>

            <button type="button" id="prev" class="d-none btn btn-primary" >Previous</button>
            <button type="button" id="next" class="btn btn-warning">Next</button>
            <%= f.button :submit , id: "sub", class: "submit btn btn-warning d-none"%>
            <% end %>


    </div>
</div>
