<!-- MultiStep Form -->
<div class="row align-items-center m-0">
  <div class="col bg-dark text-white text-center leftform">
<img  class="blocktoPic" height="600" src="https://project-submission.client.cremedelacreme.io/static/media/celine.1db21b0f.png" alt="creme">
    <div class="blocktoPic d-none animated bounceInUp">
      <h1>Landscape speciality</h1>
      <p>Thomas is a fluent filmmaker in Bengladesh. He create's cool webapp as well</p>
      <img  height="600" width="400" src=https://avatars1.githubusercontent.com/u/57214511?v=4 alt="Thomas">
    </div>
    <div class="blocktoPic d-none">
      <h1>Landscape speciality</h1>
      <p>Thomas is a fluent filmmaker in Bengladesh. He create's cool webapp as well</p>
      <img  height="600" width="400" src=https://avatars1.githubusercontent.com/u/57214511?v=4 alt="Thomas">
    </div>
  </div>
<div class="col-md-8 col-md-offset-3 align-items-center">

<div class="multiformcustom align-items-center">

            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Camea</li>
                <li>Project Title</li>
                <li>Project Description</li>
            </ul>

            <%= simple_form_for(@shotlist) do |f| %>
            <%= f.error_notification %>
            <!-- fieldsets -->
            <hr>
             <fieldset class="blocktoIt">
              <br>
                <h2 class="fs-title animated pulse infinite">Are you ready for Camea's World?</h2>
                <br>
                <br>
                <br>

                <h3 class="fs-subtitle">CLICK NEXT</h3>

            </fieldset>
            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title animated bounceInDown">First a nice Title</h2>
                <%= f.input :title,label: :-, placeholder: "Wayne's World seems a cool title, isn't it?", class: "inp" %>

            </fieldset>
            <fieldset class="blocktoIt d-none">
                <h2 class="fs-title animated bounceInDown"> Add a Description</h2>
                <%= f.input :description, placeholder: "It's party time excellent", class: "inp" %>

            </fieldset>
            <hr>
            <button type="button" id="prev" class="d-none btn btn-outline-dark btn-lg" >Previous</button>
            <button type="button" id="next" class="btn btn-search">Next</button>
            <%= f.button :submit ,"Add a SHOT", id: "sub", class: "submit btn btn-search d-none"%>
            <% end %>

        <!-- link to designify.me code snippets -->
        <!-- /.link to designify.me code snippets -->
    </div>
</div>
</div>
</div>
<!-- /.MultiStep Form -->
