
<div class="row align-items-center m-0">
  <div class="col bg-light align-items-center leftform">


    <div  class="blocktoPic">
      <%= render partial: 'shot_text_begin' %>
    </div>

    <div  class="blocktoPic d-none">
       <%= render partial: 'shot_text_shotsize' %>
    </div>

    <div  class="blocktoPic d-none">
       <%= render partial: 'shot_text_movement' %>
    </div>

    <div  class="blocktoPic d-none">
      <%= render partial: 'shot_text_angle' %>
    </div>

    <div  class="blocktoPic d-none">
      <%= render partial: 'shot_text_equipment' %>
    </div>

</div>

<div class="col-md-8 col-md-offset-3 align-items-center">
  <div class="multiformcustom align-items-center">
<!-- <div class="col-md-10 col-md-offset-3 position-relative"> -->
      <!-- progressbar -->
    <div class="multiform-progress">
      <ul id="progressbar" class="d-flex p-2">
        <li class="active">Begin</li>
        <li>Shot size</li>
        <li>Movement</li>
        <li>Angle</li>
        <li>Equipment</li>
      </ul>
      <hr style="background-color: lightgrey">
    </div>

    <%= simple_form_for [@shotlist, @shot] do |f| %>
    <div class="multiform-content">
      <%= f.error_notification %>
      <fieldset class="blocktoIt">

        <h3 class="fs-subtitle">What's in this shot?</h3>
        <%= f.input :description, label: false, placeholder: "Add a short description of the action and/or dialogue..." %>

        <h3 class="fs-subtitle">If relevant, choose the location</h3>
        <%= f.input :location, label: false, placeholder: "Hollywood, Tel-Aviv, Singapour..." %>
      </fieldset>



      <fieldset class="blocktoIt d-none">
        <fieldset class="form-group check_boxes optional shot_shot_size">
           <h3 class="fs-subtitle">Sizing</h3>
          <legend class="col-form-label pt-0" style="display: none">Size</legend>
          <div class="category-choices">
            <div class="row d-flex justify-content-between">

              <input class="form-check-input check_boxes optional" type="checkbox" value="Close-up" name="shot[shot_size]" id="shot_shot_size_close-up" hidden>
              <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_close-up">Close-up</label>


              <input class="form-check-input check_boxes optional" type="checkbox" value="Long shot" name="shot[shot_size]" id="shot_shot_size_long_shot" hidden>
              <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_long_shot">Long shot</label>


              <input class="form-check-input check_boxes optional" type="checkbox" value="Medium shot" name="shot[shot_size]" id="shot_shot_size_medium_shot" hidden>
              <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_medium_shot">Medium shot</label>


              <input class="form-check-input check_boxes optional" type="checkbox" value="point-of-view shot" name="shot[shot_size]" id="shot_shot_size_point-of-view_shot" hidden>
              <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_shot_size_point-of-view_shot">Point-of-view</label>

            </div>
          </div>
        </fieldset>
      </fieldset>

      <fieldset class="blocktoIt d-none">
        <h3 class="fs-subtitle">Select camera movement</h3>
        <fieldset class="form-group check_boxes optional shot_movement">
          <div class="category-choices">
            <div class="category-choices-grid">
              <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Pan" name="shot[movement]" id="shot_movement_pan" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_pan">Pan</label>
              </div>
              <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Tilt" name="shot[movement]" id="shot_movement_tilt" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_tilt">Tilt</label>
              </div>
              <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Zoom" name="shot[movement]" id="shot_movement_zoom" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_zoom">Zoom</label>
              </div>

              <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Dolly" name="shot[movement]" id="shot_movement_dolly" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_dolly">Dolly</label>
              </div>

               <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Truck" name="shot[movement]" id="shot_movement_truck" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_truck">Truck</label>
              </div>

              <div class="form-check">
                  <input class="form-check-input check_boxes optional" type="checkbox" value="Crane" name="shot[movement]" id="shot_movement_crane" hidden>
                  <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_crane">Crane</label>
              </div>
                <div class="form-check">
                <input class="form-check-input check_boxes optional" type="checkbox" value="Random motion" name="shot[movement]" id="shot_movement_random_motion" hidden>
                <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_random_motion">Random motion</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input check_boxes optional" type="checkbox" value="360° motion" name="shot[movement]" id="shot_movement_360-degree_motion" hidden>
                  <label class="category-choice form-check-label collection_check_boxes" for="shot_movement_360-degree_motion">360° motion</label>
              </div>


          </div>

            </fieldset>
          </fieldset>

          <fieldset class="blocktoIt d-none">

            <h3 class="fs-subtitle">Select Shot Angle</h3>
            <fieldset class="form-group check_boxes optional shot_angle">
              <legend class="col-form-label pt-0" style="display:none">Angle</legend>
                <div class="category-choices">
                  <div class="row d-flex justify-content-between">


                    <input class="form-check-input check_boxes optional" type="checkbox" value="Eye level" name="shot[angle]" id="shot_angle_eye_level" hidden>
                    <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_eye_level">Eye level</label>


                    <input class="form-check-input check_boxes optional" type="checkbox" value="Low angle" name="shot[angle]" id="shot_angle_low_angle" hidden>
                    <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_low_angle">Low angle</label>


                    <input class="form-check-input check_boxes optional" type="checkbox" value="High angle" name="shot[angle]" id="shot_angle_high_angle" hidden>
                    <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_high_angle">High angle</label>



                    <input class="form-check-input check_boxes optional" type="checkbox" value="Dutch angle" name="shot[angle]" id="shot_angle_dutch_angle" hidden>
                    <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_dutch_angle">Dutch angle</label>


                    <input class="form-check-input check_boxes optional" type="checkbox" value="Bird's eye" name="shot[angle]" id="shot_angle_birds_eye" hidden>
                    <label class="category-choice col-md-2 form-check-label collection_check_boxes" for="shot_angle_birds_eye">Bird's eye</label>

                  </div>
                </div>
            </fieldset>

          </fieldset>

          <fieldset class="blocktoIt d-none">
            <h3 class="fs-subtitle">What equipment do you need?</h3>
            <%= f.input :equipment, label: false, placeholder: "camera 4K, Travelapse, ..." %>
          </fieldset>
    </div>
    <div class="multiform-bottom">
      <hr style="background-color: lightgrey">
      <button type="button" id="prev" class="d-none btn btn-navbar2-transparent btn-lg" >Previous</button>
      <button type="button" id="next" class="btn btn-navbar2">Next</button>
      <%= f.submit "DONE", id: "sub", class: "submit btn btn-navbar2 d-none"%>
    <% end %>
    </div>
  </div>



</div>
</div>

