<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">

  <%= link_to "camea", "/", class: "navbar-brand" %>
  <div class=" search" >
    <%= render 'shared/search_form' %>
  </div>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Dashboard", "/dashboard", class: "btn-navbar2-transparent" %>
        </li>

        <li class="nav-item" id="user-channel" data-user-id="<%= current_user.id %>">

          <div id="notif-counter" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">

            <i class="far fa-bell fa-lg nav2-icon"></i>

            <% if (current_user.unread_messages_hash.values.sum) > 0 %>
              <span class="msg-number"><%= current_user.unread_messages_hash.values.sum %></span>
            <% end %>
          </div>

        <li class="nav-item">
          <%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-user fa-lg nav2-icon" %>
        </li>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notif-counter">

            <% current_user.unread_messages_hash.select { |k, v| v != 0 }.each do |k, v| %>
              <% selected_chatroom = Chatroom.find(k) %>
                <% other_chatter = current_user.other_chatter?(selected_chatroom) %>
                  <%= link_to chatroom_path(k) do %>
                    <% if other_chatter.present? %>
                      <div class="notification">
                        <% if other_chatter.photo.present? %>
                          <%= cl_image_tag other_chatter.photo.key, height: 40, width: 30, crop: :fill, class: "card-trip-user avatar-bordered" %>
                        <% end %>

                        <div class="notification-content">
                          <p>
                            <%= other_chatter.first_name %>
                            <small>
                              <%= selected_chatroom.messages.last.created_at.strftime("%b %e | %l:%M%p") %>
                            </small>
                          </p>
                          <p><%= selected_chatroom.messages.last.content %></p>
                        </div>
                      </div>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </li>

      <% else %>
        <li class="nav-item" style="margin-right: 20px;">
          <%= link_to "Find a filmmaker", "/", class: "btn nav-link-blue" %>
        </li>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn nav-link-blue" %></li>
        </li>
      <% end %>
    </ul>
  </div>
</div>
