
<div class="container mt-10" style="margin-top: 100px">
  <div class="row">
    <% @filmmakers.each do |filmmaker| %>
    <div class="col-4">
      <div class="card-trip">
        <% if filmmaker.portfolio_assets %>
          <% filmmaker.portfolio_assets.each do |asset| %>
            <% asset.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= filmmaker.first_name %> <%= filmmaker.last_name %></h2>
            <div style="    display: flex;">
              <p class="fas fa-map-marker-alt"></p>
              <p style="margin-left: 10px;"><%= filmmaker.city %></p>
            </div>
            <p><%= filmmaker.biography.split(' ').slice(0,16).join(' ')%></p>
            <div style="    display: flex;">
              <p class="fas fa-star" style="color: #ffc31e; margin-top: 3px;"></p>
              <p style="margin-left: 7px;">4,7</p>
            </div>
          </div>
          <% if filmmaker.photo.present? %>
            <%= cl_image_tag filmmaker.photo.key, height: 40, width: 30, crop: :fill, class: "card-trip-user avatar-bordered" %>
          <% end %>

        </div>
        <% if filmmaker.interest_list.present?  %>
        <% filmmaker.interest_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
        <% end %>
      <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
