<div class="banner-index" style="background-image: url('https://images.pexels.com/photos/1500590/pexels-photo-1500590.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
<h1>Welcome in Camea's filmmakers community.</h1>
<br>
<h2>They are waiting for collaboration!</h2>
</div>

<div style="background-color: white;  box-shadow: 0 0 15px rgba(0,0,0,0.2);">
  <div style="text-align: center;padding: 20px;">
  <% @filmmakers.first(2).each do |filmmaker| %>
    <% filmmaker.interest_list.each do |tag| %>
      <%= link_to tag, results_path(tag: tag), class: "btn-tag-result" %>
    <% end %>
  <% end %>
  </div>
</div>

  <div class="container" style="margin-top: 50px; margin-bottom: 100px;">

    <p style="margin-bottom: 40px; font-size: 21px; font-weight: 500;">
      Filmmakers associated to
      <% if params[:query].present? %>
        "<%= params[:query] %>"
      <% elsif params[:tag].present? %>
        "<%= params[:tag] %>"
       <% elsif params[:shotlist_tag_list].present? %>
        "<%= params[:shotlist_tag_list] %>"

      <% end %>
      <% if params[:location].present? %>
         in <%= params[:location] %>
           <% end %>
    </p>

    <div class="row">
      <% @filmmakers.each do |filmmaker| %>
      <div class="col-4">
        <div class="linkcard">
        <%= link_to user_path(filmmaker) do %>
          <div class="card-trip">
            <% if filmmaker.portfolio_assets %>
              <% filmmaker.portfolio_assets.each do |asset| %>
                <% asset.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              <% end %>
            <div class="card-trip-infos">
              <div>
                <h2 style="margin-bottom: 8px;"><%= filmmaker.first_name%> <%= filmmaker.last_name %></h2>
                <div style="display: flex;margin-bottom: 5px">
                  <p class="fas fa-map-marker-alt"></p>
                  <p style="margin-left: 10px;"><%= filmmaker.city %></p>
                </div>
                <% if filmmaker.biography %>
                <p style="margin-bottom: 5px;"><%= filmmaker.biography.split(' ').slice(0,12).join(' ')%>...</p>
                <% end %>
                <div style="text-align: left;">
                <% if filmmaker.interest_list.present?  %>
                  <% filmmaker.interest_list.first(3).each do |tag| %>
                    <%= link_to tag, results_path(tag: tag), class: "btn-tag" %>
                  <% end %>
                <% end %>
                </div>
              </div>
              <% if filmmaker.photo.present? %>
                <%= cl_image_tag filmmaker.photo.key, height: 40, width: 40, class: "card-trip-user avatar-bordered" %>
              <% end %>
            </div>
            <% end %>
        </div>
      </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>

