<% content_for :meta_title, "#{@shotlist.title}" %>
<% content_for :meta_description, @shotlist.description %>

  <div style="text-align: center; margin-top:100px;">
    <h2><%= @shotlist.title.capitalize %></h2>
    <h3><%= @shotlist.description.capitalize%><h3>
    <% @shotlist.shots.each do |shot| %>
      <%= form_tag results_path, method: :get do %>
        <%= hidden_field_tag(:shotlist_tag_list, @shotlist.shotlist_tag_list) %>
        <%= hidden_field_tag(:location, shot.location) %>
        <%= submit_tag "Find matches", class: "btn btn-CTA" %>
    <% end %>
  </div>

    <div class="about">
       <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links logo"></a>
    </div>
       <div class="content">
          <div class="card">
                <div class="icon"><i><%= image_tag ('descriptionwhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.description %></p>
                <p class="text">Description</p>
          </div>

          <div class="card">
                <div class="icon"><i><%= image_tag ('anglewhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.angle %></p>
                <p class="text">Angle</p>
          </div>
          <div class="card">

                <div class="icon"><i><%= image_tag ('sizewhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.shot_size %></p>
                <p class="text">Size</p>
          </div>
       </div>

    <div class="about">
       <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
          <span class="icon"></span>
       </a>
       <a class="bg_links logo"></a>
    </div>
       <div class="content" style="margin-bottom: 100px;">
          <div class="card">
                <div class="icon"><i><%= image_tag ('movementwhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.movement %></p>
                <p class="text">Movement</p>
          </div>
          <div class="card">
                <div class="icon"><i><%= image_tag ('camerawhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.equipment %></p>
                <p class="text">Equipment</p>
          </div>

          <div class="card">
                <div class="icon"><i><%= image_tag ('localizationwhite.png'), height: 60, width: 60 %></i></div>
                <p class="title"><%= shot.location.split(', ').slice(0,2).join(', ') %></p>
                <p class="text">Localization</p>
          </div>
       </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
</div>






