

  <div style="text-align: center; margin-top:100px;">
    <h2><%= @shotlist.title.capitalize %></h2>
    <h3><%= @shotlist.description.capitalize%><h3>
    <% @shotlist.shots.each do |shot| %>
      <%= form_tag results_path, method: :get do %>
        <%= hidden_field_tag(:shotlist_tag_list, @shotlist.shotlist_tag_list) %>
        <%= hidden_field_tag(:location, shot.location) %>
        <%= submit_tag "Find matches", class: "btn btn-CTA" %>
    <% end %>

  </div>


    <div class="container">

      <div id="showlisting">
        <label id="label-show">
        <input type="checkbox" id="input-show" />
        <div class="cardshow">
          <div class="front poster">
            <%= image_tag ('descriptionwhite.png'), height: 60, width: 60 %>
            Description: <%= shot.description %>
          </div>

            <div class="back"><iframe src="https://player.vimeo.com/video/137878878?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="500" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </label>

        <label id="label-show">
        <input type="checkbox"  id="input-show" />
         <div class="cardshow">
          <div class="front poster">
            <%= image_tag ('anglewhite.png'), height: 60, width: 60 %>
            Angle : <%= shot.angle %>
          </div>
            <div class="back"><iframe src="https://player.vimeo.com/video/72859928?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="500" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
        </label>
        <label id="label-show">
          <input type="checkbox" id="input-show" />
            <div class="cardshow">
              <div class="front poster">
                <%= image_tag ('sizewhite.png'), height: 60, width: 60 %>
                Size : <%= shot.shot_size %>
              </div>
              <div class="back"><iframe src="https://player.vimeo.com/video/104089713?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="600" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
        </label>
        <label id="label-show">
          <input type="checkbox" id="input-show" />
            <div class="cardshow">
              <div class="front poster"><%= image_tag ('movementwhite.png'), height: 60, width: 60 %>
                Movement : <%= shot.movement %>
              </div>
                <div class="back"><iframe src="https://player.vimeo.com/video/159575697?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="600" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </label>
        <label id="label-show">
          <input type="checkbox" id="input-show" />
            <div class="cardshow">
              <div class="front poster"><%= image_tag ('camerawhite.png'), height: 60, width: 60 %>
                Equipment : <%= shot.equipment %>
              </div>
                <div class="back"><iframe src="https://player.vimeo.com/video/12732570?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="600" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </label>
<label id="label-show">
    <input type="checkbox" id="input-show" />
    <div class="cardshow">
        <div class="front poster"><%= image_tag ('localizationwhite.png'), height: 60, width: 60 %>
          <%= shot.location.split(', ').slice(0,2).join(', ') %>
        </div>
          <div class="back"><iframe src="https://player.vimeo.com/video/111467200?autoplay=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0&loop=1" width="600" height="350" preload="auto" frameborder="0" allowfullscreen></iframe>
          </div>
    </div>
</label>

    </div>
    </div>
    <% end %>

