<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'video.svg'%>
    <title>CAMEA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if (params[:action] == "home") || (params[:action] == "new")  %>
    <%= render 'shared/navbar' %>
    <% else %>
    <%= render 'shared/navbar2' %>
    <% end %>


    <%= render 'shared/flashes' %>
    <%= yield %>
    <% if (params[:action] == "home") || (params[:action] == "results")  %>
    <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
