<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'cam.png'%>
    <title>CAMEA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if (params[:action] == "home") %>
    <%= render 'shared/navbar' %>
    <% elsif (params[:action] == "new")%>
    <% else %>
    <%= render 'shared/navbar2' %>
    <% end %>


    <%= render 'shared/flashes' %>
    <%= yield %>

  </body>
</html>
